<ion-content id='container' >
  <ion-header style='background-color: #3f51b5;' class="text-light " >
    <ion-grid>
      <ion-row>
        <ion-col class="text-center pt-0 " >
          <img src="../../assets/Logo-Colegios/sigloXXI-logo.png" width="200" height="180"  alt="Logo">
          <p class='pl-3 pr-3 mb-0 ' >
            Unidad Educativa Colegio Siglo XXI
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="text-center" style="color: #3f51b5 !important;" >
        <ion-label class="text-center" >
          <b>
            La cedula V-27219726 esta registrada a nombre de "Luis Carlos Sulbaran Lugo".
          </b>
        </ion-label>
        <br>
        <ion-label>
          <b>
            ¿Es usted?
          </b>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class='mt-4' >
        <button class="btn rounded-pill text-light anchoAdecuado " style="background-color: #3f51b5 !important;" > Si , Soy yo </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="btn rounded-pill text-light anchoAdecuado btn-secondary " > No , no soy yo </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
