<ion-content>
  <form>
    <ion-grid id='container' >
    <ion-row>
      <ion-col>
        <img src="../../assets/logo.png" width="200" height="180" alt="">
      </ion-col>
      </ion-row>      
    <ion-row>
      <ion-col >
        <div>
          <ion-input class="rounded-pill borderInput anchoAdecuadoParaInput centrado form-control" placeholder='Cédula' ></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="btn rounded-pill text-light anchoAdecuado " style="background-color: #3f51b5 !important;" > Ingresar </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
