<ion-content>
  <form>
    <ion-grid id='container' >
    <ion-row>
      <ion-col>
        <img src="../../assets/mail.png" width="300" height="200" alt="">
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <div class=" centrado " style='width: 80%;' >
          <h5 class="m-0">
            Porfavor ingrese el codigo que le llegó al correo suministrado
          </h5>
        </div>
      </ion-col>
    </ion-row>      
    <ion-row class="mt-3" >
      <ion-col >
        <div>
          <ion-input class="rounded-pill borderInput anchoAdecuadoParaInput centrado form-control pl-2 " type='text' placeholder='Codigo de confirmación' ></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-4" >
      <ion-col>
        <button class="btn rounded-pill text-light anchoAdecuado " style="background-color: #3f51b5 !important;" > Continuar </button>
      </ion-col>
    </ion-row>
    <ion-row class="mt-1" >
      <ion-col>
        <button class="btn btn-secondary rounded-pill text-light anchoAdecuado " > Atras </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
